{{ form_start(form) }}
    <div class="w-50">
        {{ form_widget(form) }}
    </div>
    <div class="d-flex justify-content-end gap-1 m-1">
        <button class="btn btn-primary"><i class="bi bi-pencil-square m-1"></i>{{ button_label|default('Save') }}</button>
        {% if user.id is not null %}
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
    </div>
{{ form_end(form) }}
