{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>
    <a class="btn btn-primary" href="{{ path('app_user_index') }}"><i class="bi bi-arrow-return-left m-1"></i>Back to list</a>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end gap-1 m-1">
        <a class="btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="bi bi-pencil-square m-1"></i>Edit</a>
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
